%section#sponsors
  %h1 Sponsors
  %ul
    - @footer_sponsors.each do |level, sponsors|
      %li
        .level
          = render :partial => 'sponsor_logo', :collection => sponsors, :as => :sponsor
