- content_for :page_title do
  Madison Ruby After Party Details Announced

%section#articles
  %article
    %hgroup
      %h1 Madison Ruby After Party Details Announced
      %h2 2011-08-05 4:03 PM by Jim Remsik
    = image_tag 'rooftop_cropped.jpg', style: 'padding-bottom: 10px'
    %p{ style: 'padding-bottom: 10px' }
      We pulled out the stops for our afterparty. The venue is the rooftop sculpture garden (pictured above) atop the Madison Museum of Contemporary Art.  There is an open bar and we're asking for attendee feedback for what they'd like to see stocked within that bar.  We have two experienced DJs, who are also rubyists, in Rob Sanheim and Giles Bowkett to spin and we are close to securing multi-instrumentalist Martin Dosh a.k.a. Dosh to close out the nights entertainment.

    %p{ style: 'padding-bottom: 10px' }
      Being that this is Wisconsin and the weather changes frequently we have a back up plan to move to the stunning lobby (pictured below).
    = image_tag "lobby_cropped.jpg"

= render :partial => 'sponsors'
