- content_for :page_title do
  Conference Error in Your Favor Collect $225

%section#articles
  %article
    %hgroup
      %h1 Conference Error in Your Favor Collect $225
      %h2 2011-07-25 2:30 PM by Jim Remsik
    %p{ style: 'padding-bottom: 10px' }
      = image_tag 'bank-error.jpg', style: 'float: left; padding: 0 10px 10px 0'
      Madison Ruby has had one mission from its inception, to bring Rubyists to Madison, WI and to introduce Madisonians to the Ruby Community.

    %p{ style: 'padding-bottom: 10px' }
      We have been aiming for a good showing and grabbed a stellar venue, The Overture Center for the Arts, which is comparable to the venues of Scottish Ruby Conference or Nordic Ruby.  Having been to a conference or two recently (including but not limited to RailsConf, Scottish Ruby, ConferenciaRails, SunnyConf, LoneStar, Mountain.RB, WindyCityRails, Ruby on Ales, LessConf, FarmhouseConf) we also sought to reduce the pain points of most conferences.  We aren't offering you a crummy box lunch we're giving you a list of local restaurants nearby, to narrow down from the more than 100 options available, and $10 to cover your luncheach day.  We are giving options by having two tracks for most of the conference but, bringing everyone together for big topics as well as giving you time to 'digest' talks with 30 minute breaks between most talks.  We have reserved the rooftop at the Madison Museum of Contemporary Art and are lining up a live band for the after party.  Sounds like a great event, right?

    %p{ style: 'padding-bottom: 10px' }
      That's what we thought, too. There are some costs in there that are non-trivial and we budgeted based on some assumptions.

    %p{ style: 'padding-bottom: 10px' }
      Our assumptions were wrong but, there's still time to iterate!  We received *WAY* more support from sponsors both local to Madison and local to the community than expected.  Getty Images, Engine Yard, Bendyworks, Tropo, and everyone else have stepped up and allowed us to put on an extraordinary event and still keep prices low.

    %p{ style: 'padding-bottom: 10px' }
      Where are we now? We've gone through the budget removing costs not incurred and resetting our assumptions. That means we're able to offer tickets to the conference at $250 and drop workshops all the way to $199. If you already bought a ticket no worries we're automatically giving you a refund from whatever you paid down to $250 and Thank You, sincerely, for your support!

    %p{ style: 'padding-bottom: 100px' }
      You'll notice that the only change you'll see on the conference site is the price. Madison Ruby is going to be an amazing event packed with everything we've promised and is not to be missed.

= render :partial => 'sponsors'
