#hotel
  %h1 Doubletree Hotel Madison

  %p The Doubletree Hotel Madison in the heart of downtown Madison, Wisconsin, at the eastern edge of the University of Wisconsin campus is nestled between Lakes Monona and Mendota, within walking distance of the State Capitol, the UW Badgers' Kohl Center, Camp Randall Stadium, UW Memorial Union, and the eclectic State Street shopping and entertainment district.

  %h2 Doubletree Hotel Madison

  = link_to 'http://maps.google.com/maps/place?ftid=0x880653340ed8aac1:0xd91cedd39f8b656e&q=525+West+Johnson+Street,+Madison,+WI&hl=en&sll=43.071666,-89.394533&sspn=0.006295,0.006295&ie=UTF8&ll=43.077838,-89.408476&spn=0,0&t=h&z=16' do
    %p
      525 West Johnson Street
      %br
      Madison, WI 53703

  %h2 Hotel Reservations

  %p We have been given an exceptional group rate by the Doubletree Hotel Madison for Madison Ruby Conference attendees. Book your room early, as the Conference room block will sell out.
  %ul
    %li $159* per night for single or double occupancy
    %li $179** per night for single or double deluxe occupancy

  %p Complimentary High Speed wireless internet with complimentary printing services.

  %ul
    %li *The rate will increase to $179 for Friday night.
    %li ** The rate will increase to $209 for Friday night.  The rate includes hot breakfast for up to two guests, complimentary snacks and bottled water.  The deluxe rooms also have a refrigerator and microwave.

  %p Room rates are subject to any local, state, and federal tax that may apply at time of occupancy. (For informal purposes only, currently the room tax rate is 14.5% in effect at the time of check-in.)

  %h3 To Make a Reservation
  %ul
    %li
      %strong
        = link_to 'http://www.doubletreemadison.com', 'http://www.doubletreemadison.com'
      %dl
        %dt Group Code:
        %dd MRC
    %li
      By Phone: To receive the special discounted room rate, please identify yourself as an attendee of Madison Ruby Conference when calling the hotel’s reservation number and mention the Group Code: MRC
      %ul
        %li Direct Number: 608-251-5511
        %li Toll Free Reservation Number: 800-222-TREE
  %p Reservations received after July 18, 2011, (or after the room block sells out, whichever comes first) will be honored on a space available basis at the prevailing rate of the hotel. All reservations will require a 1-night advance deposit per room, plus tax, to guarantee accommodations. All advance reservation deposits are completely refundable if canceled 72 hours (Sunday, August 14, 2011) before arrival to avoid cancelation penalties.

  %h2 Getting to the Doubletree Hotel Madison from Dane County Regional Airport

  %p There are a number of ways to get from the airport to the Doubletree Hotel Madison:

  %ul
    %li
      %strong Courtesy Hotel Shuttle:
      available from 7am-10pm
    %li
      %strong Taxi:
      with a minimum change about $15 USD
    %li
      %strong Bus:
      Base Fare $2.00
      %ol
        %li Be ready to board route #20 North Transfer Point via Airport at Arrivals 6 [9169] by quarter past the hour or quarter to the hour. (about a 10 minute ride)
        %li Exit at stop Arrival North Transfer Point [5101]. (about a 5 minute wait)
        %li Make your way to stop North Transfer Point Huxley [5100], if different from where you exit, by the top or bottom of the hour to board route #2 West Transfer Point (no cost with transfer pass from driver). (about a 22 minute ride)
        %li Exit at destination stop Gorham & Bassett [0428].
        %li 2 Block walk to Doubletree:  Follow Bassett to W. Johnson Street.  Turn right onto West Johnson, and the Doubletree will be on the left across the street.
    %li
      %strong Rental Car:
      prices vary and cars are available at the airport
    %dl
      %dt Driving Directions
      %dd Distance from hotel is 6 miles, and takes about 15 minutes. International Lane to Packers Ave. Left on Packers Ave. (The road name changes to Pennsylvania Ave. then changes names to East Gorham Street.) Follow Gorham (5 miles) to Frances Street. Take a left onto Frances Street, go 1 block, and turn left on West Johnson Street. The hotel is 1 block on the right.

  %h3 Parking

  %p Parking is Free. Please be aware that the Doubletree Hotel Madison is self parking, and parking is reserved for hotel guests.
