#hotel
  %h1 Hyatt Place Hotel Madison

  %p Ideally situated in the heart of downtown, the Hyatt Place Madison/Downtown is surrounded by museums, theaters, restaurants and shopping. The Madison hotel is within walking distance to the Capitol Square, Monona Terrace Convention Center, and Madison’s famous State Street – featuring over 200 unique establishments to explore. The hotel is a short distance to the beautiful University of Wisconsin-Madison campus.

  %h2 Hyatt Place Hotel Madison

  = link_to 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=333+west+Washington+Avenue,+Madison,+WI&aq=&sll=43.07685,-89.380968&sspn=0.012351,0.027874&ie=UTF8&hq=&hnear=333+W+Washington+Ave,+Madison,+Wisconsin+53703&ll=43.071694,-89.387619&spn=0.012352,0.027874&t=h&z=16' do
    %p
      333 West Washington Avenue
      %br
      Madison, WI 53703

  %h3 Hotel Reservations

  %p We have been given an exceptional group rate by the Hyatt Place Hotel Madison for Madison Ruby Conference attendees. Book your room early, as the Conference room block will sell out.

  %ul
    %li $119* per night

  %p *The rates include complimentary continental breakfast and free wifi access.

  %p *In addition to these rates there will be an $8.00 per person, per day increase for the continental breakfast coupons.  There is a two night minimum stay requirement for any reservations staying Friday or Saturday.  Complimentary High-speed internet in all guest rooms.

  %p Room rates are subject to any local, state, and federal tax that may apply at time of occupancy. (For informal purposes only, currently the room tax rate is 14.5% in effect at the time of check-in.)  Guests who are tax-exempt must provide certificate.

  %h3 To Make a Reservation



  %ul
    %li
      %strong Online:
      = link_to "http://madisondowntown.place.hyatt.com/", "http://madisondowntown.place.hyatt.com/"
      %dl
        %dt Group Code:
        %dd G-RUBY
    %li
      %strong By Phone:
      To receive the special discounted room rate, please identify yourself as a Madison Ruby Conference attendee when calling the hotel’s reservation number and mention the Group Code: G-RUBY
      %ul
        %li
          %strong Direct Number:
          608-257-2700
        %li
          %strong Toll Free Reservation Number:
          888-492-8847

  %p Reservations received after July 17, 2011, (or after the room block sells out, whichever comes first) will be based on availability, and/or at the Hotel’s prevailing rates if the hotel is close to selling out.  All reservations will require a 1-night advance deposit per room, plus tax, to guarantee accommodations. All advance reservation deposits are completely refundable if canceled 72 hours (Sunday, August 14, 2011) before arrival to avoid cancelation penalties.

  %h2 Getting to the Hyatt Place Hotel Madison/Downtown from Dane County Regional Airport

  %p There are a number of ways to get from the airport to the Hyatt Place Hotel Madison:

  %ul
    %li
      %strong Courtesy Hotel Shuttle:
      Call to arrange
    %li
      %strong Taxi:
      with a minimum charge about $15 USD
    %li
      %strong Bus:
      Base Fare $2.00
      %ol
        %li Be ready to board route #20 North Transfer Point via Airport at Arrivals 6 [9169] by quarter past the hour or quarter to the hour. (about a 10 minute ride)
        %li Exit at stop Arrival North Transfer Point [5101]. (about a 5 minute wait)
        %li Make your way to stop North Transfer Point Huxley [5100], if different from where you exit, by the top or bottom of the hour to board route #2 West Transfer Point (no cost with transfer pass from driver). (about a 22 minute ride)
        %li Exit at destination stop Mifflin &amp; Pinckney [1100]. At this point can either walk 5 blocks to the Hyatt: [Follow Mifflin to Carroll Street.  Turn left onto Carroll, and then right onto West Washington Avenue.  The Hyatt will be on the left at 333 W. Washington Ave.] or take route # 5 South Transfer Point. (about 20 minutes wait) Exit at destination stop West Wash &amp; Henry [0168]. (about 1 minute ride)
    %li
      %strong Rental Car:
      prices vary and cars are available at the airport
    %dl
      %dt Driving Directions
      %dd Distance from hotel is 5 .5 miles, and takes about 15 minutes. Head north on International Lane and follow toward Terminal.  Turn left on Packers Avenue / WI-113 South. Continue to follow WI-113 S. Turn left on North 1st Street (WI-113 S). Turn right on East Washington Avenue/US-151 South. Continue to follow East Washington Avenue and turn right on North Webster Street. Turn left on East Dayton Street. Turn left on North Fairchild Street. Turn right on West Washington Avenue. Hyatt Place Madison/Downtown is on the right.

  %h3 Parking

  %p
    Overnight parking is attached, covered garage is an additional $10 per night, which includes unlimited in/out privileges.



