#hotel
  %h1 Best Western Inn on the Park

  %p An urban landmark on the Capitol Square in Madison, the hotel is located directly across from the State Capitol building. The Capitol Square is home to such popular seasonal attractions as the Dane County Farmer’s Market, Art Fair on the Square and Concerts on the Square. Only blocks from the University of Wisconsin, Madison campus, Frank Lloyd Wright inspired Monona Terrace, and Overture Center of the Arts,the Inn on the Park is the best way to experience the best of Madison.

  %h2 Best Western Inn on the Park

  = link_to 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=22+South+Carroll+Street,+Madison,+WI&aq=0&sll=43.04684,-89.374211&sspn=0.012357,0.027874&ie=UTF8&hq=&hnear=22+S+Carroll+St,+Madison,+Wisconsin+53703&t=h&z=16' do
    %p
      22 South Carroll Street
      %br
      Madison, WI 53703

  %h3 Hotel Reservations

  %p We have been given an exceptional group rate by the Best Western Inn on the Park for Madison Ruby Conference attendees. Book your room early, as the Conference room block will sell out. 

  %ul
    %li $119* per night for rooms with one bed (1-2 people)
    %li $129* per night for rooms with two beds (1-4 people)
    %li $159* per night for suites

  %p *In addition to these rates there will be an $8.00 per person, per day increase for the continental breakfast coupons.  There is a two night minimum stay requirement for any reservations staying Friday or Saturday.  Complimentary High-speed internet in all guest rooms.

  %p Room rates are subject to any local, state, and federal tax that may apply at time of occupancy. (For informal purposes only, currently the room tax rate is 14.5% in effect at the time of check-in.)  Guests who are tax-exempt must provide certificate.

  %h3 To Make a Reservation

  %ul
    %li
      %strong By Phone:
      To receive the special discounted room rate, please identify yourself as being part of the “Madison Ruby Conference 2011 Block.”
      %ul
        %li
          %strong Direct Number:
          608-285-8000
        %li
          %strong Toll Free Reservation Number:
          800-279-8811
  %p Reservations received after July 17, 2011, (or after the room block sells out, whichever comes first) will be based on availability, and/or at the Hotel’s prevailing rates if the hotel is close to selling out.  All reservations will require a 1-night advance deposit per room, plus tax, to guarantee accommodations. All advance reservation deposits are completely refundable if canceled 24 hours (Wednesday, August 17, 2011) before arrival to avoid cancelation penalties.

  %h2 Getting to the Doubletree Hotel Madison from Dane County Regional Airport

  %p There are a number of ways to get from the airport to the Best Western Inn on the Park:

  %ul
    %li
      %strong Courtesy Hotel Shuttle:
      Call to arrange
    %li
      %strong Taxi:
      with a minimum charge about $15 USD
    %li
      %strong Bus:
      Base Fare $2.00
      %ol
        %li Be ready to board route #20 North Transfer Point via Airport at Arrivals 6 [9169] by quarter past the hour or quarter to the hour. (about a 10 minute ride)
        %li Exit at stop Arrival North Transfer Point [5101]. (about a 5 minute wait)
        %li Make your way to stop North Transfer Point Huxley [5100], if different from where you exit, by the top or bottom of the hour to board route #2 West Transfer Point (no cost with transfer pass from driver). (about a 22 minute ride)
        %li Exit at destination stop Mifflin & Carroll [1310].
        %li Walk 2 blocks following Carroll to Main Street.  Inn on the Park will be on the corner. 
    %li
      %strong Rental Car:
      prices vary and cars are available at the airport
    %dl
      %dt Driving Directions
      %dd Take International Lane from airport terminal. Turn left on Packers Avenue at end of International Lane. Turn left onto First Street (second set of lights) and go two blocks. Turn right onto East Washington and take it up to the State Capitol. Follow right around Capitol Square. Hotel is located just past West Washington Avenue.

  %h3 Parking

  %p
    Free valet parking
