- content_for :page_title do
  Madison Ruby Policies Page

%section#articles
  %article
    %a{ name: 'cancellation' }
    %hgroup
      %h1 Cancellation Policy
    %h2.call_attention
      *** All ticket sales are final and non-refundable. ***
    %p
      You may transfer your registration to another person by August 21, 2012 by providing authorization to us at contact@MadisonRuby.org.
    %br
    %p
      In the unlikely event that the conference is canceled, the liability to Madison Ruby is limited to the returning paid registration fees.
    %br
    %p{ style: 'padding-bottom: 50px' }
      Please contact us at contact@MadisonRuby.org regarding registration questions or concerns.

= render :partial => 'sponsors'
