
- content_for :page_title do
  Schedule - Don't Miss Anything - August 18-20, 2011 - Madison, WI

%section#schedule
  %h1 Our Schedule

  %h2 Friday, August 19, 2011
  %table
    %tr
      %td &nbsp;
      %td
        %h3 Playhouse
      %td
        %h3 Wisconsin Studio

    %tr
      %td 8:00 - 8:45AM
      %td{ colspan: '2' }
        Registration &amp; Coffee Social

    %tr
      %td 8:45 - 9:30AM
      %td{ colspan: '2' }
        Opening Address / Announcements - Jim Remsik &amp; Robert Pitts

    %tr
      %td 9:30 - 10:15AM
      %td{ colspan: '2' }
        Jessie Shternshus, The Improv Effect

    %tr
      %td 10:15 - 10:30AM
      %td{ colspan: '2' }
        A Convenient Truth (How To Configure Your Environment) - Rogelio Samour

    %tr
      %td 10:30 - 10:45AM
      %td{ colspan: '2' }
        Break

    %tr
      %td 10:30 - 11:00AM
      %td MINSWAN - Bryan Liles
      %td TBA - TBA

    %tr
      %td 11:00 - 11:30AM
      %td{ colspan: '2' }
        Break

    %tr
      %td 10:30 - 11:00AM
      %td Scripting Vim with Ruby - Matt Margolis, Getty Images
      %td "I'm mad as hell, and I'm not going to take this anymore!", Strategies for Coping in Chaos - Jacqui Cox, NY Times

    %tr
      %td 12:00 - 1:30PM
      %td{ colspan: '2' }
        Lunch - Exploring Madison on Engine Yard's dime

    %tr
      %td 1:30 - 2:00PM
      %td "Free Whiskey" - Rick Bradley, O. G. Consulting
      %td Making Awesome Command Line Apps in Ruby - Dave Copeland, OPOWER

    %tr
      %td 2:00 - 2:10PM
      %td{ colspan: '2' }
        Tips for healthy sitting / Stretching (Optional)

    %tr
      %td 2:10 - 2:30PM
      %td{ colspan: '2' }
        Break

    %tr
      %td 2:30 - 3:00PM
      %td "Life On My Home Planet." - Giles Bowkett
      %td Tip of the Skinny Iceberg - Stephen Caudill, Hashrocket

    %tr
      %td 3:00 - 3:30PM
      %td{ colspan: '2' }
        Coffee / Snack Break

    %tr
      %td 3:30 - 4:00PM
      %td jQuery Mobile on Rails - Chad Pytel, Thoughtbot
      %td Meghann Millard, Unspace Interactive

    %tr
      %td 4:15 - 5:45PM
      %td{ colspan: '2' }
        %p Local Flavor: Madison-area non-technical craftspeople sharing their passion

    %tr
      %td 5:45 - 6:15PM
      %td{ colspan: '2' }
        Lightning Talks

    %tr
      %td 6:15 - 6:30PM
      %td{ colspan: '2' }
        End of day announcements - Jim Remsik &amp; Robert Pitts

  %h2 Saturday, August 20, 2011
  %table
    %tr
      %td &nbsp;
      %td
        %h3 Playhouse
      %td
        %h3 Wisconsin Studio

    %tr
      %td 9:00 - 10:30AM
      %td{ colspan: '2' }
        Coffee

    %tr
      %td 9:15 - 10:15AM
      %td{ colspan: '2' }
        Growing a Software as a Service Application Panel - BJ Hess, Harvest / Jason McKay, MongoHQ / Chris Mathieu, Tropo - Moderated by Steven Bristol

    %tr
      %td 10:15 - 10:30AM
      %td{ colspan: '2' }
        Break

    %tr
      %td 10:30 - 11:00AM
      %td "Who, What, Where, When, Why, and How to Test"- Jon Larkowski
      %td Literate Programming - Steve Klabnik

    %tr
      %td 11:00 - 11:20AM
      %td{ colspan: '2' }
        Break

    %tr
      %td 11:20 - 11:30AM
      %td Stretching
      %td &nbsp;

    %tr
      %td 11:30 - 12:00PM
      %td "Have Fun the Rong Way" - Matt Yoho
      %td Blow Up Your Views - Jeff Casimir

    %tr
      %td 12:00 - 1:30PM
      %td{ colspan: '2' }
        Lunch on Engine Yard

    %tr
      %td 1:30 - 2:00PM
      %td "Building the Great Wall: API Driven Applications" - Dan Melnick &amp; Scott Parker
      %td "Your Mongo Haz Seeds" - Tim Connor

    %tr
      %td 2:00 - 2:30PM
      %td{ colspan: '2' }
        Break

    %tr
      %td 2:30 - 3:00PM
      %td "Consultants &amp; Rockstars, Who needs 'em" - Lori Olson
      %td "Kick Your Project in the Mouth" - Collin Schaafsma

    %tr
      %td 3:00 - 3:30PM
      %td{ colspan: '2' }
        Coffee Break

    %tr
      %td 3:30 - 4:00PM
      %td "Whose Wife Are You?" - Renée Devoursney
      %td "Creating RubyGems from Scratch" - Brian Hogan

    %tr
      %td 4:00 - 4:30PM
      %td{ colspan: '2' }
        Break

    %tr
      %td 4:30 - 5:00PM
      %td TBA - Charlie Nutter
      %td "CSS Workflow With Sass" - Jina Bolton

    %tr
      %td 5:00 - 5:15PM
      %td{ colspan: '2' }
        Break

    %tr
      %td 5:15 - 6:15PM
      %td{ colspan: '2' }
        Testing Panel

= render :partial => 'sponsors'

Jina Bolton, “CSS Workflow with Sass”
Matt Yoho, “Have Fun the Rong Way”
Chad Pytel, “jQuery Mobile on Rails”
Gerred Dillon, “Re-imagining Rails Messaging”
Rick Bradley, “Free Whiskey ... Disk”
Jessie Shternshus, “How to Give an Awesome Lightning Talk”
David Copeland, “Making Awesome Command Line Apps in Ruby”
Jeff Casimir, “Blow Up Your Views”
Matt Margolis, “Scripting Vim with Ruby”
Dan Melnick & Scott Parker, “Building the Great Wall: API Driven Applications”
Brian Hogan, “Creating RubyGems from Scratch”
Chris Matthieu, SaaS Panel Member
Jon Larkowski, “Who, What, Where, When, Why, and How to Test”
Stephen Caudill, “Tip of the Skinny Iceberg”
Lori Olson, “Consultants & Rockstars, Who needs 'em?”
Collin Schaafsma, “Kick Your Project in the Mouth”
Renée De Voursney, “Whose Wife Are You?”
Tim Connor, “Your Mongo Haz Seeds”
Bryan Liles, MINSWAN
Jacqui Cox, "I'm mad as hell, and I'm not going to take this anymore!" - Strategies for Coping in Chaos
Jason McCay, SaaS Panel Member
Steve Klabnik, Literate Programming
Giles Bowkett, “Life On My Home Planet.”
Meghann Millard
Charlie Nutter
Barry Hess, SaaS Panel Member
Steven Bristol, SaaS Panel Moderator
Gail Ambrosius, Master Chocolatier discussing her craft
A few other non-technical craftsmen are also in the line-up.  We are planning to include a brew master and cheese maker but either are subject to change.


