- content_for :page_title do
  Schedule - Don't Miss Anything - August 23-25, 2012 - Madison, WI

%h2.call_for_proposals
  The
  = link_to "Call for Proposals", cfp_path
  is open until April 1st, 2012

%section#schedule
  %h1 Our Schedule

  %h2 TBA

= render :partial => 'sponsors'
