- content_for :page_title do
  Schedule - Don't Miss Anything - August 23-25, 2012 - Madison, WI

= render :partial => 'call_for_proposals'

%section#schedule
  %h1 Our Schedule

  %h2 TBA

= render :partial => 'sponsors'
