- content_for :page_title do
  Schedule - Don't Miss Anything - August 23-25, 2012 - Madison, WI

%section#schedule
  %h1
    %p
      Our Schedule can be seen on
      = link_to "Sched.org", "http://madisonruby2012.sched.org/"

= render :partial => 'sponsors'
