#hotel
  %h1 Sheraton Hotel Madison

  %p Experience a feeling of welcome unlike any other at the fully refurbished Sheraton Madison Hotel.  The attractively renovated guest rooms give you everything you need for a great stay, from The Sheraton Sweet Sleeper™ Bed with crisp white bedding, to fully upgraded bathrooms, and 32” HD flat-screen televisions.  Full of charm and ambience, the Sheraton Madison Hotel is centrally located in Wisconsin’s state capital, close to all the major attractions such as Lake Monona and Mendota, State Street, and the campus of University of Wisconsin.

  %h2 Sheraton Hotel Madison

  = link_to 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=706+John+Nolen+Drive,+Madison,+WI&aq=0&ie=UTF8&hq=&hnear=706+John+Nolen+Dr,+Madison,+Wisconsin+53713&t=h&z=16' do
    %p
      706 John Nolen Drive
      %br
      Madison, WI 53713

  %h2 Hotel Reservations

  %p We have been given an exceptional group rate by the Sheraton Madison Hotel for Madison Ruby Conference attendees. Book your room early, as the room block will sell out.
  %ul
    %li $99 per night for single or double occupancy

  %ul
    %li Breakfast coupon is included in the room rate.  All guest rooms include complimentary high speed wired and wireless internet access.
    %li Shuttle available to/from anywhere within three miles of the Hotel.

  %p Room rates are subject to any local, state, and federal tax that may apply at time of occupancy. (For informal purposes only, currently the room tax rate is 14.5% in effect at the time of check-in.)

  %h3 To Make a Reservation
  %ul
    %li
      %strong By Phone:
      To receive the special discounted room rate, please identify yourself as being part of the “Madison Ruby Conference 2012 Block".
      %ul
        %li
          %strong Direct Number:
          608-251-2300
  %p Reservations received after the room block sells out will be based on availability, and/or at the Hotel’s prevailing rates if the hotel is close to selling out.  All reservations will require a 1-night advance deposit per room, plus tax, to guarantee accommodations. All advance reservation deposits are completely refundable if canceled 48 hours before arrival to avoid cancelation penalties.

  %h2 Getting to the Sheraton Hotel Madison from Dane County Regional Airport

  %p There are a number of ways to get from the airport to the Sheraton Hotel Madison:

  %ul
    %li
      %strong Complimentary Airport Pick-up and Drop-off Shuttle:
      Call to arrange
    %li
      %strong Taxi:
      with a minimum change about $15 USD
    %li
      %strong Bus:
      Base Fare $2.00
      %ol
        %li Be ready to board route #20 North Transfer Point via Airport at Arrivals 6 [9169] by quarter past the hour or quarter to the hour. (about a 10 minute ride)
        %li Exit at stop Arrival North Transfer Point [5101]. (about a 5 minute wait)
        %li Make your way to stop North Transfer Point Huxley [5100], if different from where you exit, by the top or bottom of the hour to board route #2 West Transfer Point (no cost with transfer pass from driver). (about a 22 minute ride)
        %li Exit at destination stop University Ave & N. Park [0100]. (about 6 minute wait)
        %li Board transfer route #13 South Transfer Point. (about 13 minute ride)
        %li Exit at destination stop Rimrock & John Nolen [0166]
        %li The Sheraton Madison Hotel entrance is across the street from the bus stop.
    %li
      %strong Rental Car:
      prices vary and cars are available at the airport
    %dl
      %dt Driving Directions
      %dd Depart International Ln toward Packers Ave / CR-CV South. Bear left onto SR-113 South / Packers Ave. Take ramp right and follow signs for Aberg Ave. Turn left onto Aberg Ave. Keep straight onto SR-30 East. Take ramp right for US-51 South / N Stoughton Rd toward Stoughton. Take ramp right for US-12 West / US-18 West / W Beltline Hwy

  %h3 Parking

  %p Parking is Free. Please be aware that the Doubletree Hotel Madison is self parking, and parking is reserved for hotel guests.
