%section#speakers
  %h1 Our Speakers
  %article
    %a{ :name => 'jeff_casimir' }
    %figure
      = image_tag "img_jeff_casimir.jpg", alt: "Jeff Casimir"
    .bio
      %hgroup
        %h1 Jeff Casimir
        %p Jeff runs Jumpstart Lab where he teaches the best Ruby and Rails classes on Earth.  He formerly taught public middle school and high school in his hometown of Washington, DC.  Now he turns "normal people" into developers, and helps existing developers up their skills.  He has not, yet, figured out how to convert developers into normal people.
        -# %h1 Blow Up Your Views
        -# %p Whether you're new to Rails or have been around few years, chances are that your views are primitive. Detonate what you know about how views are written and let's start over.

        -# %p In this session you'll learn...
        -# %ul
          -# %li Why your views suck
          -# %li Guidelines for view code quality
          -# %li Shake PHP-itis and work with Objects
          -# %li Embrace Rails 3's flexibilities
          -# %li Stop being a weenie and embrace JavaScript

    %aside
      %dl
        %dt.company Company:
        %dd= link_to "Jumpstart Lab", "http://jumpstartlab.com/"
        %dt.twitter Twitter:
        %dd= link_to "@j3", "http://twitter.com/j3"
        %dt.website Website:
        %dd= link_to "http://jumpstartlab.com", "http://jumpstartlab.com"
