- content_for :page_title do
  Speakers - Join The Conversation - August 23-25, 2012 - Madison, WI

%section#speakers
  %h1 Our Speakers
  = render :partial => 'speaker', :collection => Speaker.all

= render :partial => 'sponsors'
