- content_for :page_title do
  Sponsors - Helping Our Community - August 23-25, 2012 - Madison, WI

%h2.call_attention
  We still have opportunities available for you to gain exposure and enhance the conference for attendees.
  %br
  %br
  = link_to "Apply to be a sponsor!", apply_to_be_a_sponsor_path

%br

%section#sponsors
  %h1 Our Sponsors

  = render :partial => 'sponsor', collection: @sponsors
