- content_for :page_title do
  What to expect when you're ... Madison Ruby

%h3
  %strong
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Contact Information:
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} First of all you, here is our contact information. During your stay in Madison, if you run into any problems at all, please call.
%p
  %br/
  %p
    %br/
    %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
      %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
        %strong
          %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Jim Remsik 608-513-5720
      %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
        %strong
          %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Jenifer Remsik 608-513-6518
    %br/
    %strong
      %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Schedule
      %br/
      %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} The official conference schedule and mobile site for Madison Ruby is at
      %a{:href => "http://getshortlist.com/madisonruby"}
        %span{:style => "font-size: 13px; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} http://getshortlist.com/madisonruby
      %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} .  
      %br/
      %br/
      %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Shortlist is a
      %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} social app
      %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} and
      %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} information hub
      %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} for professional events. What does Shortlist give you? Basically, everything you need to make the most of your time and opportunity.  More than that, though, Shortlist will recommend people to meet based on your unique set of goals, professional background and social media connections. Shortlist can help you find them and get in touch. Who’s on your Shortlist? It’s fun to look, and you’ll probably connect with some good people that you otherwise might have missed.
      %br/
      %br/
      %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} You can also see the Madison Ruby schedule here:
      %a{:href => "http://madisonruby2012.sched.org/"}
        %span{:style => "font-size: 13px; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} http://madisonruby2012.sched.org/
      %br/
      %br/
      %span{:style => "font-size: 13px; font-family: Arial; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Getting to Downtown Madison from Dane County Regional Airport
      %br/
      %span{:style => "font-size: 13px; font-family: Arial; color: rgb(51, 50, 51); background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} There are a number of ways to go from the airport to Downtown Madison:
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Courtesy Hotel Shuttles
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Taxi:
        %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} with a minimum change of about $15 USD
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Rental Car:
        %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} prices vary and available at the airport
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Car Pool
        %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} with someone you know that is renting a car
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Madison Metro Bus:
      %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
        %li{:style => "list-style-type: circle; background-color: transparent; vertical-align: baseline; "}
          %strong
            %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Madison Metro has
            %a{:href => "https://maps.google.com/maps?saddr=Dane+County+Regional+Airport-Msn,+4000+International+Ln+%23+3,+Madison,+WI+53704&daddr=201+State+Street,+Madison,+WI&hl=en&sll=43.10671,-89.367105&sspn=0.073065,0.149345&geocode=FUY1kgIdh7Cs-iGz5Xg60aZWmykDezDgcFMGiDGz5Xg60aZWmw%3BFctEkQId3gus-in7UyOKN1MGiDGtsWZDel4xPQ&oq=Overture&dirflg=r&ttype=now&noexp=0&noal=0&sort=def&mra=ls&t=m&z=13&start=0"}
              %span{:style => "font-size: 13px; color: rgb(17, 85, 204); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Google Maps
            %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} support, use it.
        %li{:style => "list-style-type: circle; background-color: transparent; vertical-align: baseline; "}
          %strong
            %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Base Fare: $2.00.  Ask your driver for a transfer when you board and pay your fare.
%p{:dir => "ltr", :style => "margin-left: 108pt; margin-top: 0pt; margin-bottom: 0pt; "}
  %strong
    %span{:style => "font-size: 13px; font-family: Arial; color: rgb(26, 26, 24); background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Free transfers, valid for two hours, will be issued at the time of boarding when paying with cash or 10-Ride Cards. Transfer is dispensed directly from the fare box unit. Both activation date/time and expiration date/time will be printed on the transfer. Slide through the pass reader each time you board.
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li
      %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
        %li{:style => "list-style-type: circle; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
          %strong
            %a{:href => "http://www.cityofmadison.com/metro/"}
              %span{:style => "font-size: 13px; color: rgb(0, 0, 153); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Madison Metro Transit
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; color: rgb(51, 50, 51); background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Also, if we’re able you can call us and we’ll come pick you up.
  %br/
  %strong
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} (Thursday Workshops) Madison College Downtown Campus Room Locations:
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; margin-left: 15px; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Room D040 - Lower Level
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; margin-left: 15px; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Room D229 - 2nd Floor
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; margin-left: 15px; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Room D240 (A) - 2nd Floor
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; margin-left: 15px; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Room D240 (B) - 2nd Floor
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; margin-left: 15px; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Room D332 - 3rd Floor
  %br/
  %strong
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} (Friday/Saturday Conference) Overture Center for the Arts Room Locations:
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; margin-left: 15px; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Rotunda Studio - Lower Level
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; margin-left: 15px; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Rotunda Stage - Lower Level
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; margin-left: 15px; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Board Room - Lower Level
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; margin-left: 15px; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Playhouse Theater - Lower Level
  %br/
  %strong
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} RailsBridge OutReach to Women Workshop Check-In
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Wednesday, August 22, 6:00-7:30pm: Bendyworks (106 East Doty Street, Suite 210, Madison)
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Workshop Check-In
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Thursday, August 23, 8:00-9:30am: Madison College (MATC) Downtown Campus outside D240
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Conference Check-In
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Thursday, August 23, 4:30-5:30pm: UW-Memorial Union:
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Tripp Commons
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Friday, August 24, 8:00-9:30am: Overture Center:
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Lobby
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Friday, August 24, 9:30am-Noon: Overture Center:
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Rotunda Studio
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Wireless Network
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} We have wireless network set up throughout the workshop and conference areas. Keep in mind this is a network shared by all of your fellow attendees. Please do not download large files or use BitTorrent while on the conference network.
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Please take note that each user on the network is responsible for his or her own security. As this is a semi-public network, you are advised to disable any open ports or shares you do not want exposed.
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Having trouble connecting to the wireless network? For help, please find a Madison Ruby Staff person.  They will be wearing bright green shirts.
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Wednesday, August 22, 2012
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: disc; font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; "}
      %strong
        %span{:style => "background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} RailsBridge Install Fest
        %span{:style => "background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} begins at 6:30pm. You attend the install fest if you are signed up to participate in the RailsBridge OutReach to Women Workshop scheduled on Thursday, August 23 at Madison College (MATC) Downtown Campus.
  %br/
  %strong
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Breakfast
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Is not provided at the workshops or at the conference. For those of you staying at the Sheraton Madison, we have made arrangements with the hotel to provide breakfast with your room.  
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Thursday, August 23, 2012
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Workshop check-in
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} starts at 8:00am with coffee and snacks available all day in
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Room D040
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} .
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Enter Madison College through the 211 North Carroll Street entrance, and head to the second floor.  Check in will be outside of
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Room D240
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} . There will be signs to help direct you.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Then head to
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Room D040
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} on the lower level to join everyone else till your workshop starts. There will be signs to help direct you.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Workshops
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} will begin at 9:00am.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} The workshops should be done no later than 4:00pm.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Healthy Hacker 5k Fun Run
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} is scheduled to start between 4:15-4:30pm at Madison College (MATC) Downtown Campus and will end at the UW Memorial Union, with plenty of time for you to attend the Terrace Welcome Reception in Tripp Commons.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Conference check-in
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} is available from 4:30-5:30pm at the UW Memorial Union at 800 Langdon Street, in room
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Tripp Commons
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} .
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Terrace Reception is from 5:00-6:30pm at the UW Memorial Union at 800 Langdon Street, in room
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Tripp Commons & the Tripp Commons Terrace
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} . Everyone is welcome to attend this reception who attended a Madison Ruby Workshop and/ or are attending the Madison Ruby conference.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Dinner is self organized (On your own), and Downtown Madison is rich in options. Whatever you’re looking for, it’s probably not hard to find, nor far to walk.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} The
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} GitHub Drinkup
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} starts at 8:30pm, and will be at the
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Downtown Great Dane
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} (123 East Doty Street, Madison) in the
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Rathskeller
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} . The Dane is a brew pub, with a full-service bar for those of you who aren’t into award-winning beer and ale brewed on the premises.
  %br/
  %strong
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Conference Download Stations
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} In the Rotunda Studio you will find hard-wired download stations.
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Friday, July 20, 2012
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} %p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Conference registration starts at 8:00am.  Enter the Overture Center for the Arts through the 201 State Street entrance, and check-in will be to your left.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Then head to the
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Rotunda Studio
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} in the lower level to join everyone else for coffee Service.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} The Conference will start at 9:00am in the Playhouse Theater in the lower level.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Food and Beverages are not allowed in the Playhouse Theater. You are welcome to food and beverage throughout the other spaces.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Downtown Madison Gift Certificates (AKA: Mad Money)  are provided for lunch. Make sure you checked in to collect your Mad Money (Sponsored by Engine Yard).
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} We have made sure to put in several breaks throughout the day, so there is time to mentally digest, continue conversations, and to just meet those you do not normally have an opportunity to meet.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} We will wrap up the day around 6:00pm.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Dinner is self organized and on your own, and there are enough options to satisfy most people.  However, we asked a Visitor Specialist from Greater Madison Convention & Visitors Bureau to help you with restaurant recommendations and dinner reservations. They are the official Madison Ruby Concierge. Please see them in the Rotunda Stage area to see sample menus and make dinner reservations with old and new friends.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Do not forget about the Madison Ruby After Party (Sponsored by Bendyworks) at the Rooftop Garden of the Madison Museum of Contemporary Art scheduled from 8:00-11:00pm.
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: circle; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} 227 State Street, Madison
    %li{:style => "list-style-type: circle; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} There is
        %span{:style => "font-size: 13px; background-color: transparent; text-decoration: underline; vertical-align: baseline; white-space: pre-wrap; "} NO SMOKING
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} in the museum OR on the Rooftop Garden
    %li{:style => "list-style-type: circle; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Open bar and live entertainment. Do I need to say more?
  %br/
  %strong
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Saturday, July 21, 2012
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Before heading to Day 2 of Madison Ruby make sure to stop by the Farmers Market located on the Capitol Square. Because we
        %span{:style => "font-size: 13px; background-color: transparent; font-style: italic; vertical-align: baseline; white-space: pre-wrap; "} know
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} that you will bounce out of bed bright and early after the previous night’s invigorating party.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Coffee service will start in the
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Rotunda Studio
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} at 9:30am and will continue all day.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} The Conference will
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} begin at 9:45am
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} in the Playhouse Theater.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Food and Beverages are still not allowed in the Playhouse Theater. You are welcome to food and beverage throughout the other spaces.
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Downtown Madison Gift Certificates (AKA: Mad Money)  are provided for lunch. Make sure you checked in to collect your Mad Money (Sponsored by Engine Yard).
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} The conference sessions will end with closing announcements around 6:00pm.
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Dinner is self organized and on your own, and there are enough options to satisfy most people.  However, we asked a Visitor Specialist from Greater Madison Convention & Visitors Bureau to help you with restaurant recommendations and dinner reservations. They are the official Madison Ruby Concierge.  Please see them in the Rotunda Stage area to see sample menus and make dinner reservations with old and new friends.
%p
  %br/
  %ul{:style => "margin-top: 0pt; margin-bottom: 0pt; "}
    %li{:style => "list-style-type: disc; font-size: 15px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; "}
      %strong
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Whisky and Cheese Pairing is scheduled from 8:00-10:00pm at the Overture Center for the Arts in the
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Rotunda Studio
        %span{:style => "font-size: 13px; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} . You must have RSVPed through Eventbrite to attend.  Space is limited.
%p
  %br/
  %h2{:dir => "ltr"}
    %strong
      %span{:style => "font-size: 19px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Speakers
  %strong
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Venue Walkthrough
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Jen and Jim will be helping with the workshops, on Thursday. Please contact them if you would like to see the spaces for Friday and Saturday in advance. They will be walking through the space from 7:00-7:30pm.
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Dinner
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Please make an effort to join the attendees while they are out enjoying dinner. We find attendees are more eager to join a group of people they don’t know if a speaker or two is also part of the group. We’ve arranged to have a Madison Ruby Concierge available to help with restaurant recommendations and reservations.  Please visit them in the Rotunda Stage area.
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Projectors
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} The projectors are VGA 1024x768 resolution.
    %br/
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} Speaker and Staff Lounge
    %br/
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} Please see a staff person if you are in
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; vertical-align: baseline; white-space: pre-wrap; "} need
    %span{:style => "font-size: 13px; font-family: Arial; background-color: transparent; font-weight: normal; vertical-align: baseline; white-space: pre-wrap; "} of a speaker lounge space to prepare for your presentation or to relax. We have backstage dressing rooms available for this purpose. Of course we’d prefer for you to be social and join the rest of the attendees in either the theater or lounge.

= render :partial => 'sponsors'
